[alias]
  b       = branch -vv
  co      = "!f() { git switch \"$1\" 2>/dev/null || git switch -c \"$1\"; }; f"
  commit  = commit -v
  st      = status
  unstage = reset HEAD --

[branch]
  sort = -committerdate

[commit]
  gpgSign = true
  verbose = true

[core]
  #pager         = diff-highlight | less -R
  autcrlf       = input
  editor        = vim
  fsmonitor = true
  untrackedCache = true
  whitespace    = cr-at-eol

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  tool = p4merge

[fetch]
  all = true
  prune = true
  pruneTags = true

[gpg]
  program = /usr/sbin/gpg

[help]
  autocorrect = prompt

[merge]
  conflictstyle = zdiff3
  tool = p4merge

[mergetool]
  prompt = false
  keepBackup = false

[mergetool "p4merge"]
  trustExitCode = true

[pull]
  rebase = true

[push]
  #default = upstream
  autoSetupRemote = true
  #default = simple
  followTags = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[rerere]
  enabled = true
  autoupdate = true

[tag]
  gpgSign = true
  sort = version:refname

[user]
  email = martinsson.patrik@gmail.com
  name = "Patrik Martinsson"
  signingkey = 123
